.contact-info-area .single-contact-info {
    text-align: center;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
  }
  
  .contact-info-area .single-contact-info i {
    display: block;
    color: #1dd3f8;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    line-height: 50px;
    border: 2px dotted #1dd3f8;
    border-radius: 50%;
  }
  
  .contact-info-area .single-contact-info h3 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .contact-info-area .single-contact-info a {
    color: #4d4d4d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
  }
  
  .contact-info-area .single-contact-info:hover {
    background-color: gainsboro;
  }
  
  .contact-info-area .single-contact-info:hover i .Envelope {
    color: #BD0324;
    border-color: #BD0324;
  }
  
  .contact-info-area .single-contact-info:hover h3 {
    color: #BD0324;
  }
  
  .contact-info-area .single-contact-info:hover a {
    color: #BD0324;
  }
  
  .map-area iframe {
    width: 100%;
    height: 500px;
    border: none;
    border: none !important;
    display: block;
  }
  
  .map-area.map-area-hight iframe {
    height: 448px;
  }

  .default-btn {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 18px 35px;
    line-height: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
    text-transform: capitalize;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #1dd3f8;
    border-width:0px;
    
  }
  
  .default-btn::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -40px;
    width: 10px;
    height: 100px;
    background-color: #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .default-btn::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -40px;
    width: 10px;
    height: 100px;
    background-color: #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .default-btn.active {
    background-color: #ffffff;
    color: #1dd3f8;
    border-color: 0px;
  }
  
  .default-btn.active:hover {
    color: #ffffff;
    background-color: #1dd3f8;
    
  }
  
  .default-btn:hover {
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .default-btn:hover::before {
    left: 200px;
  }
  
  .default-btn:hover::after {
    right: 200px;
  }

  .main-contact-area .contact-wrap .contact-form {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    padding: 50px;
    border-radius: 4px;
  }
  .main-contact-area .contact-wrap {
    max-width: unset;
  }
  
  .main-contact-area .contact-wrap .section-title {
    text-align: center !important;
    max-width: 600px;
  }
  
  .main-contact-area .contact-wrap .section-title h2 {
    margin-bottom: 10px;
  }
  
  .main-contact-area .contact-wrap .form-group {
    margin-bottom: 30px;
  }
  
  .main-contact-area .contact-wrap .default-btn {
    margin: auto;
    display: table;
    cursor: pointer;
  }
  
  .main-contact-area .contact-wrap .contact-form {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    padding: 50px;
    border-radius: 4px;
  }
  
  .main-contact-area .contact-wrap .contact-form #msgSubmit {
    position: unset;
    text-align: center;
    margin-top: 20px;
  }
  
  .main-contact-area .contact-wrap .contact-form .hidden {
    display: none;
  }
  
  .main-contact-area .contact-wrap .form-control {
    border-radius: 4px !important;
  }
  
  textarea.textarea-hight {
    height: unset !important;
  }
  
  .form-control {
    height: 50px;
    color: #212121;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    border-radius: 0;
    padding: 0;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
  }
  
  .form-control::-webkit-input-placeholder {
    color: #495057;
    font-size: 13px;
  }
  
  .form-control:-ms-input-placeholder {
    color: #495057;
    font-size: 13px;
  }
  
  .form-control::-ms-input-placeholder {
    color: #495057;
    font-size: 13px;
  }
  
  .form-control::placeholder {
    color: #495057;
    font-size: 13px;
  }
  
  .form-control:focus {
    color: #000000;
    background-color: transparent;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    outline: 0;
    border: 1px solid #1dd3f8;
  }
  
  .form-control:hover:focus, .form-control:focus {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  
  textarea.form-control {
    height: auto;
    height: 250px;
  }

  .contact-info-area .single-contact-info {
    text-align: center;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
    height: 270px;
  }
  
  .contact-info-area .single-contact-info i {
    display: block;
    color: #1dd3f8;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    line-height: 50px;
    border: 2px dotted #1dd3f8;
    border-radius: 50%;
  }
  
  .contact-info-area .single-contact-info h3 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .contact-info-area .single-contact-info a {
    color: #4d4d4d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
  }
  
  .contact-info-area .single-contact-info:hover {
    background-color: gainsboro;
  }
  
  .contact-info-area .single-contact-info:hover i .Envelope {
    color: #BD0324;
    border-color: #BD0324;
    background-color: #BD0324;
  }
  
  .contact-info-area .single-contact-info:hover h3 {
    color: #BD0324;
  }
  
  .contact-info-area .single-contact-info:hover a {
    color: #BD0324;
  }
  
  .map-area iframe {
    width: 100%;
    height: 500px;
    border: none;
    border: none !important;
    display: block;
  }
  
  .map-area.map-area-hight iframe {
    height: 448px;
  }
  
  