.team-inner-area .single-team {
    /* background-color: #060542; */
    background-color:gainsboro;
    border-radius: 10px;
  }
  
  .team-inner-area .single-team:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            background-color: rgba(3, 0, 0, 0.3);
            /* opacity: 0.4; */
            /* background-color: black; */
  }
.single-team
{
height: 340px;
}
.single-team ul li a:hover {
    text-decoration: none;
    color: #b8eee9;
}

.single-team ul li a i {
        background: #0077b5;
    color: #fff;
    border-radius: 16%;
}

.single-team ul li a i:hover {
        background: #0077b5;
    color: #000;
}

.bxl-linkedin:before {
    content: "\e939"
}

.bxl-linkedin-square:before {
    content: "\e93a"
}

.row>* {
    padding-top: 0.5% !important;
     padding-bottom: 0% !important;
   }

   .team-inner-area .single-team {
    /* background-color: #060542; */
    background-color:gainsboro;
    border-radius: 10px;
    
   }
  
  .team-inner-area .single-team:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            background-color: rgba(3, 0, 0, 0.3);
            
            /* opacity: 0.4; */
            /* background-color: black; */
  }

  .offer-area {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .offer-area .offer-shape img {
    position: absolute;
    z-index: -1;
  }
  
  .offer-area .offer-shape img:nth-child(1) {
    bottom: 0;
    left: 0;
  }
  
  .offer-area .offer-shape img:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .offer-area .offer-shape img:nth-child(3) {
    top: 100px;
    left: 200px;
    -webkit-animation: animationFramesOne 25s infinite linear;
            animation: animationFramesOne 25s infinite linear;
  }
  
  .offer-area .offer-shape img:nth-child(4) {
    bottom: 80px;
    right: 200px;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
  }
  
  .offer-area .offer-shape img:nth-child(5) {
    top: 100px;
    right: 200px;
    -webkit-animation: animationFramesOne 15s infinite linear;
            animation: animationFramesOne 15s infinite linear;
  }
  
  .offer-area .offer-shape img:nth-child(6) {
    bottom: 80px;
    left: 500px;
    -webkit-animation: animationFramesOne 10s infinite linear;
            animation: animationFramesOne 10s infinite linear;
  }
  
  .offer-area .offer-shape img:nth-child(7) {
    top: 100px;
    left: 700px;
    -webkit-animation: animationFramesOne 10s infinite linear;
            animation: animationFramesOne 10s infinite linear;
  }
  
  .single-offer {
    position: relative;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    background-color: #ffffff;
    border-radius: 30px;
    /* border: 2px dotted #1dd3f8; */
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 30px;
  }
  
  .single-offer i {
    position: absolute;
    left: 20px;
    top: 33px;
    background-color: #eeeefe;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 25px;
    color: #9898f0;
  }
  
  .single-offer h3 {
    margin-bottom: 10px;
  }
  
  .single-offer:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  
  .col-lg-4:nth-child(2) .single-offer {
    border-color: #76b8f5;
  }
  
  .col-lg-4:nth-child(2) .single-offer i {
    background-color: #e8f3fd;
    color: #76b8f5;
  }
  
  .col-lg-4:nth-child(3) .single-offer {
    border-color: #1ccdca;
  }
  
  .col-lg-4:nth-child(3) .single-offer i {
    background-color: #e6fdfc;
    color: #1ccdca;
  }
  
  .col-lg-4:nth-child(4) .single-offer {
    border-color: #f9ca54;
  }
  
  .col-lg-4:nth-child(4) .single-offer i {
    background-color: #fcf3dc;
    color: #f9ca54;
  }
  
  .col-lg-4:nth-child(5) .single-offer {
    border-color: #ff896b;
  }
  
  .col-lg-4:nth-child(5) .single-offer i {
    background-color: #fde2db;
    color: #ff896b;
  }
  
  .col-lg-4:nth-child(6) .single-offer {
    border-color: #50d890;
  }
  
  .col-lg-4:nth-child(6) .single-offer i {
    background-color: #e7fdf1;
    color: #50d890;
  }
  

  /*
Team Area Four Style
======================================================*/
.single-team {
  text-align: center;
  padding: 14px;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.single-team .team-single-img {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
}

.single-team .team-single-img img {
  border-radius: 50%;
}

.single-team .team-single-img .team-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotation 20s linear infinite;
          animation: rotation 20s linear infinite;
}

.single-team .team-content h3 {
  /* color: #ffffff; */
  color: #BD0324;
}

.single-team .team-content span {
  /* color: #1dd3f8; */
  /* color: #1dd3f8; */
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.single-team .team-content ul {
  line-height: 1;
}

.single-team .team-content ul li {
  display: inline-block;
  padding: 0 5px;
}

.single-team .team-content ul li a:hover {
  color: #ffffff;
  -webkit-animation: rubberBand 1s linear;
          animation: rubberBand 1s linear;
}

.row>* {
  padding-top: 0.5% !important;
   padding-bottom: 0% !important;
 }
 a#accred_link:hover{
   text-decoration: underline !important;
 }
team-inner-area .single-team {
  /* background-color: #060542; */
  background-color:gainsboro;
  border-radius: 10px;
}

.team-inner-area .single-team:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
          background-color: rgba(3, 0, 0, 0.3);
          /* opacity: 0.4; */
          /* background-color: black; */
} 

.team-inner-area .single-team {
  /* background-color: #060542; */
  background-color:gainsboro;
  border-radius: 10px;
}

.team-inner-area .single-team:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
          background-color: rgba(3, 0, 0, 0.3);
        
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}