.single-news:hover {
    box-shadow: 1px 1px 11px rgba(33,33,33,.2); 
  }
  
  .single-news {
    box-shadow: 1px 1px 11px rgba(33,33,33,.2); 
  }
  
  .single-news .news-content-wrap
  {
  background-color: #b8eee9;
  
  }

  .main-banner-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    -webkit-animation: focus-one 1s linear 1s infinite;
            animation: focus-one 1s linear 1s infinite;
    z-index: -1;
  }
  

.single-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.single-news .blog-img {

  display: flex;
  justify-content: center;
  align-items: center;
}

.single-news .blog-img img {
 
  object-fit: cover;
  max-width: 80%;
  max-height: 80%;
}

.single-news .news-content-wrap {
  flex: 1;
 
  padding: 20px;
  text-align: center;
  
  
}

.single-news .news-content-wrap h3 {
  
  margin-top: 8px;
}
